[submodule "mrt-core2"]
	path = mrt-core2
	url = git@github.com:cdluc3/mrt-core2
	branch = main
[submodule "mrt-ingest"]
	path = mrt-ingest
	url = git@github.com:cdluc3/mrt-ingest
	branch = main
[submodule "mrt-inventory"]
	path = mrt-inventory
	url = git@github.com:cdluc3/mrt-inventory
	branch = master
[submodule "mrt-oai"]
	path = mrt-oai
	url = git@github.com:cdluc3/mrt-oai
	branch = master
[submodule "mrt-store"]
	path = mrt-store
	url = git@github.com:cdluc3/mrt-store
	branch = master
[submodule "mrt-sword"]
	path = mrt-sword
	url = git@github.com:cdluc3/mrt-sword
	branch = master
[submodule "mrt-audit"]
	path = mrt-audit
	url = git@github.com:cdluc3/mrt-audit
	branch = main
[submodule "mrt-replic"]
	path = mrt-replic
	url = git@github.com:cdluc3/mrt-replic
	branch = master
[submodule "mrt-cloud"]
	path = mrt-cloud
	url = git@github.com:cdluc3/mrt-cloud
	branch = master
[submodule "mrt-zoo"]
	path = mrt-zoo
	url = git@github.com:cdluc3/mrt-zoo
	branch = master
[submodule "cdl-zk-queue"]
	path = cdl-zk-queue
	url = git@github.com:cdluc3/cdl-zk-queue
	branch = main
[submodule "mrt-parent-pom"]
	path = mrt-parent-pom
	url = ../mrt-parent-pom/
